@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes cursor {
  0% { opacity: 0 }
  50% { opacity: 1 }
  100% { opacity: 0 }
}

@keyframes typing {
  0% {
    transform: translateY(0);
    opacity: 0.4;
  }
  50% {
    transform: translateY(-2px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0.4;
  }
}