@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes typing {
  0% {
    transform: translateY(0);
    opacity: 0.4;
  }
  50% {
    transform: translateY(-2px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0.4;
  }
}

@layer components {

  body{
    @apply antialiased font-faculty;
    background-color: #0a0d1a;
    color: white;
  }

  .custom-style-scroll::-webkit-scrollbar {
    width: 8px;
  }

  .custom-style-scroll::-webkit-scrollbar-track {
    @apply bg-transparent rounded-lg;
  }

  .custom-style-scroll::-webkit-scrollbar-thumb {
    @apply bg-slate-800 rounded-lg hover:bg-slate-700 transition-colors;
  }

  .custom-text-area-style-scroll::-webkit-scrollbar {
    width: 6px;
  }
  .custom-text-area-style-scroll::-webkit-scrollbar-track {
    @apply bg-transparent rounded-lg;
  }


  .custom-text-area-style-scroll::-webkit-scrollbar-thumb {
    @apply bg-blue-400 rounded-lg transition-colors hover:bg-orange-400;
  }

  .custom-emoji-style-scroll::-webkit-scrollbar {
    width: 8px;
  }

  .custom-emoji-style-scroll::-webkit-scrollbar-track {
    @apply bg-transparent rounded-lg;
  }
  .custom-emoji-style-scroll::-webkit-scrollbar-thumb {
    @apply bg-slate-700 rounded-lg hover:bg-slate-600 transition-colors;
  }
  
}


@layer components{
  .font-sans{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}